:root{
    /* colore nav arancio */
    --color-orange: #FF6900;
    /* bg color degli sconti - rosso */
    --color-red: #FF0000;
    /* bg color degli sconti - verde */
    --color-green: #008000;
    /* colore per il cuore */
    --cuore-salvati: #FD0D31;
    --color-black: #1A1A1A;


    /* font unico  */
    --font: HelveticaNow,Helvetica,sans-serif; 
    /* icona profilo */
    /* icona Cuore x i salvati */
    /* icona x il carrello */
    /* icona per hover cuore  */

    /* icone del footer  */ 
    /* twitter */
    /* facebook
    IG 
    Pintrest 
    Youtube */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font);
}

img{
    width: 100%;
}


header{
    background-color: var(--color-orange);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}

.nav-container{
    width: 920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}

.logo{
    width: 100px; 
}

.categoria{
    padding: 0 2px;
    display: inline; 
}

.fa{
    padding: 0 3px;
}

.container{
    width: 920px;
    margin: 60px auto;
    background-color: transparent;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    position: relative;
    flex-basis: 32%;
    flex-grow: 1;
}
.img-container:hover .overlay{
    opacity: 1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease;
}
.sale{
    position: absolute;
    bottom: 2rem;
    left: 0;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 50px;
}
.heart{
    background-color: white;
    color: black;
    padding: 10px;
    position: absolute;
    left: 260px;
    bottom: 430px;
}
.heart:hover{
    color: var(--cuore-salvati);
}
h6{
    font-size: 14px;
    font-weight: 500;
}
.red-sale{
    background-color: var(--color-red);
    color: white;
    padding: 5px;
}
.eco-green{
    background-color: var(--color-green);
    color: white;
    padding: 5px;
}
.price{
    font-size: 12px;
    font-weight: 400;
    padding-right: 5px;
}
.red{
    color: var(--color-red);
}
.original{
    color: var(--color-black);
    text-decoration: line-through;
}

footer{
    width: 100%;
    color: white;
    background-color: var(--color-black);
    padding: 30px 0;
    margin-top: 40px;
}
.fix{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contenitore-footer-sx{
    display: inline-block;
}
.note-legali{
    font-size: 8px;
    padding: 5px 0;
}
.contenitore-footer-dx{
    text-align: end;
    font-size: 15px;
}
.social-bar{
    padding-top: 5px;
}
h6{
    font-size: small;
}