:root{
    /* colore nav arancio */
    --color-orange: #FF6900;
    /* bg color degli sconti - rosso */
    --color-red: #FF0000;
    /* bg color degli sconti - verde */
    --color-green: #008000;
    /* colore per il cuore */
    --cuore-salvati: #FD0D31;
    --color-black: #1A1A1A;


    /* font unico  */
    --font: HelveticaNow,Helvetica,sans-serif; 
    /* icona profilo */
    /* icona Cuore x i salvati */
    /* icona x il carrello */
    /* icona per hover cuore  */

    /* icone del footer  */ 
    /* twitter */
    /* facebook
    IG 
    Pintrest 
    Youtube */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font);
}

img{
    width: 100%;
    display: block;
}

.container{
    width: 920px;
    margin: auto;
    background-color: transparent;
}

header{
    background-color: var(--color-orange);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-container{
    width: 100%;
    height: 55px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 14px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    position: relative;
    flex-basis: 33.3%;
    flex-grow: 1;
    overflow: hidden;
}

.img-contenitore{
    position: relative;
    max-width: fit-content;
}

.logo{
    width: 10%; 
}
.categoria{
   padding: 0 2px;
   display: inline; 
}
.fa{
    padding: 0 3px;
}